<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Reclamation</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <!-- <a class="nav-link" href="javascript:void(0)">lister</a> -->
          </li>
        
          <li class="nav-item">
            
            <a class="nav-link" routerLink="/../reclamation/add"> add</a>

          </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search" [(ngModel)]="searchKeyword">
            <button class="btn btn-primary" type="button" (click)="performSearch()">Search</button>
          </form>
          
      </div>
    </div>
  </nav>

<br>


<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" (click)="trierReclamations()">Trier</button>

<br>
<br>
<!-- 
                <form class="navbar-form">
                            <div class="input-group no-border">
                                <td colspan="2" style="text-align: right"></td>
                                <input style="width:15px;margin-bottom:0px" type="text" [(ngModel)]="searchvalue" (input)="onsearch()"
                                    class="form-control" placeholder="Search... " x>

                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>

                            </div>
                        </form> -->


                <!-- <button mat-raised-button class="btn btn-success" (click)="openDialog(null)">
                    Ajouter
                </button> -->
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste des reclamations </h4>
                    
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                 
                                
                                   
                                    <th>
                                        Numero Telephone
                                    </th>

                                    <th>
                                        Status des Reclamations
                                    </th>

                                    <th>
                                      Approvement
                                    </th>

                                </thead>
                                <tbody>
                                    <tr *ngFor='let reclamation of listeReclamations'>


                                       <!-- <div [routerLink]="['/home/etudiant/details/',etudiant.id]">  -->
                                        <td>{{reclamation.nom}}</td>
                                    <!-- </div>  -->



                                        <td>{{reclamation.mail}}</td>


                                        <td>{{reclamation.message}}</td>

                                        <td>{{reclamation.telephone}}</td>
                                        <td [ngStyle]="getStatusColor(reclamation.status)">
                                            {{ reclamation.status }}
                                          </td>

                                        <!-- <td [ngStyle]="{color: getColor(etudiant.opt)}">{{etudiant.opt}}</td> -->
                                     
                                        <!-- <td>{{etudiant.departement.nomDepart}}</td> -->
                                   
                                        <!-- <td><button mat-raised-button (click)="openDialog(etudiant)" class="btn btn-primary">
                                               <i class="material-icons">edit</i>
                                        </button></td> -->

                                     
                                        <!-- <button mat-raised-button rel="tooltip" class="btn btn-danger"
                                        (click)="deleteEtudiant(etudiant.id)">
                                        <i   class="material-icons">delete</i></button> -->

                                        
                                        <button class="btn btn-primary" type="submit" (click)="updateReclamation(reclamation)">
                                            <i class="fa fa-check"></i>
                                          </button>
                                        
                                </tbody>
                            </table>
                                           
                         
                           

                            <!-- <button mat-raised-button rel="tooltip" class="btn btn-danger"
                            (click)="Trierr()">Triee</button> -->

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<br>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
      
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Ecommerce Website
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
           
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p class="text-reset">
              Pricing
            </p>
            <p class="text-reset">
              Settings
            </p>
            <p class="text-reset">
              Orders
            </p>
            <p class="text-reset">
              Help
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> Tunis</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              spring@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 216 54547857</p>
           
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
